.inputWrapper {
    display: inline-block;
    width: 250px;
}
.input {
    width: 250px;
    height: 32px;
    padding-left: 15px;
    border-radius: 2%;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: var(--app-dark);
    font-weight: bold;
}

.input::placeholder {
    color: var(--app-grey);
    font-weight: normal;
    font-size: 0.8rem;
}
